.what {
  max-width: 500px;
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;

  > * {
    margin: 16px 0;
  }

  h2 {
    margin-bottom: 16px;
  }

  &__keywords {
    margin-top: 16px;
    display: flex;
    gap: 16px;

    div {
      width: 50%;
    }
  }

  @media #{$medium} {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, 0.5fr) 1fr;
    grid-column-gap:32px;
    grid-row-gap: 16px;

    figure { grid-area: 1 / 1 / 5 / 3; }
    .what__context { grid-area: 1 / 3 / 2 / 5; }
    .what__keywords { grid-area: 2 / 3 / 3 / 5; }
    a { grid-area: 3 / 3 / 4 / 5; }
    
  }
}

figcaption {
  margin-top: 8px;
}

