/* ====================
4. WHAT SECTION
==================== */

#what {
    display: flex;              
    flex-direction: column;     
    justify-content: center;   
    text-align: center;      
    margin-top: 64px; 
    margin-bottom: 200px;
    }          
  
.what{
  &__keywords {
    margin-top: 16px;
    display: flex;
    gap: 16px;
  }

  &__project {
    margin-top: 64px;
  }

  &__focus {
    text-align: right;
    width: 50%;
  }

  &__output {
    text-align: left;
    width: 50%;
  }

  &__extra-content {
    margin: 0 auto;
    text-align: left;
    max-width: 1200px;

    p, h3 {
        max-width: 500px;
        margin: 16px auto; 
      }
  }

  &__project-links {
    display: flex;
    gap: 5%;
    justify-content: left;
    max-width: 500px;
    z-index: 10;
    margin: auto;
  }


  /* ==================== 4.1 EXPAND CONTENT ==================== */
      
  summary {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    svg {
        transition: transform 0.6s ease; /* Smooth transition for the SVG */
      }
  }

  #what__expanded-content-1, #what__expanded-content-2, #what__expanded-content-3 {
    max-height: 0; /* Initially collapsed */
    opacity: 0; /* Initially invisible */
    //overflow: hidden; /* Hide content when collapsed */
    transition: max-height 0.6s ease, opacity 0.6s ease; /* Smooth transition for max-height and opacity */
  }

  details[open] #what__expanded-content-1, details[open] #what__expanded-content-2, details[open] #what__expanded-content-3 {
    max-height: 1000px; /* Set this to a large value enough to expand your content */
    opacity: 1; /* Fade in content */
  }

  #what__summary-element-1, #what__summary-element-2, #what__summary-element-3 {
    transition: transform 0.6s ease; /* Smooth transition for the summary position */
    transform: translateY(0); /* Initially no vertical movement */
    color: $secondary-color-2;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Adds an 8px gap between the <a> and the <svg> */
  }

  &__summary-text {
    transition: transform 0.6s ease;
    transform: translateY(0);
  }

}

  #who {
    transition: margin-top 0.6s ease; /* Smooth transition for margin-top */
    margin-top: 50px; /* Initial margin-top for the 'who' section */
  }

     
  
  /* ==================== 4.2 CAROUSEL IMAGES ==================== */

  .what__carousel * {
    margin: 0;
  }

  .what__carousel {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16 / 9; 
    overflow: hidden;
    margin: 40px auto;

    &-track {
        display: flex;
        width: 100%;
        height: 100%;
        animation: slide 10s infinite; 
      }
    
      &-item {
        width: 100vw; 
        height: 100%;
        flex-shrink: 0; 
        object-fit: cover; 
        object-position: center center; 
        max-width: 100%;
        max-height: 100%;
      }
  }


  @keyframes slide {
    0%, 25% { transform: translateX(0); }           
    33%, 58% { transform: translateX(-100%); }      
    66%, 91% { transform: translateX(-200%); }      
    100% { transform: translateX(-300%); }          
  }
  

  /* ==================== 4.3 GALLERY ==================== */

  .what__gallery,
  .image-popup {
    display: none;
  }

  @media #{$xlarge} {
    .what__carousel {
        display: none;
      }

      #what__expanded-content-1, #what__expanded-content-2, #what__expanded-content-3 {
        position: relative;
      }

      .image-popup {
        display: none; 
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000; 
      }

      .popup-image {
        max-width: 80%;
        max-height: 80%;
      }

      .popup-close {
        position: absolute;
        top: 64px;
        right: 64px;
        font-size: 2.5em;
        color: var(--primary-color);
        mix-blend-mode: difference;
        cursor: pointer;
      }

      .popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      
      .what__gallery {
        position: absolute;
        top: -100%;
        width: 100%;
        z-index: 1;  
        display: block; 
        gap: 10px; 
      }

      .what__gallery img {
        display: block;
        max-width: 300px; 
        width: 100%; 
        position: absolute; 
        filter: blur(8px);
        transition: filter 0.3s ease;
        opacity: 50%;
      }

      .what__gallery img:hover {
        filter: blur(0); 
        opacity: 100%;
        clip-path: none; 
      }
      
      /* --- PROJECT-1 --- */
      #what__expanded-content-1 .what__gallery img:nth-child(1) {
        top: 200px;
        left: 0%;
        max-width: 500px;
        height: 250px; 
        width: auto; 
      }
      
      #what__expanded-content-1 .what__gallery img:nth-child(2) {
        top: 400px;
        left: 5%;
        max-width: 900px;
        height: 300px; 
        width: auto; 
      }
      
      #what__expanded-content-1 .what__gallery img:nth-child(3) {
        top: 300px;
        right: 0%;
        max-width: 800px; 
        height: 250px;  
        width: auto;  
      }


      /* --- PROJECT-2 --- */
      #what__expanded-content-2 .what__gallery img:nth-child(1) {
        top: 500px;
        left: 0%;
        max-width: 800px; 
        height: 300px; 
        width: auto; 
      }

      #what__expanded-content-2 .what__gallery img:nth-child(2) {
        top: 600px;
        right: 15%;
      }

      #what__expanded-content-2 .what__gallery img:nth-child(3) {
        top: 300px;
        right: 0%;
      }


      /* --- PROJECT-3 --- */
      #what__expanded-content-3 .what__gallery img:nth-child(1) {
        top: 600px;
        left: 0%;
        max-width: 500px; 
        height: 225px;  
        width: auto;
      }
      
      #what__expanded-content-3 .what__gallery img:nth-child(2) {
        top: 300px;
        right: 4%;
        max-width: 500px;
        height: 250px;
        width: auto;
      }
      
      #what__expanded-content-3 .what__gallery img:nth-child(3) {
        top: 500px;
        right: 0%;
      }
}

