footer {
  background-color: $primary-color;
  color: $background-color;
  display: flex;
  flex-direction: column;
  padding: 24px;

  .footer__contacts {
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .footer__developed {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    font-family: $serif-font;
    font-weight: 700;
    color: $background-color;
  }

  @media #{$xlarge} {
    padding-left: 56px;
    padding-right: 56px;
  }
}