$primary-color: #FFF6F1;
$secondary-color-1: #FF8B1F;
$secondary-color-2: #00DB75;
$background-color: #091915;
$non-serif-font: 'DM sans', Arial, Helvetica, sans-serif;
$serif-font: 'Unna', 'Georgia', Times, 'Times New Roman', serif;